@media(max-width:414px) {
	.about{
		padding: 5rem 5rem;
		gap: 5rem;
	}

	.about h1{
		font-size: 5rem;
		max-width: 0;
		margin: 0 auto;
	}

	.men{
		flex-direction: column;
	}

	

}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}

@media(max-width:px) {}